<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="com.tarena.dao.UserMapper" 全路径接口名 -->
<mapper namespace="com.tarena.dao.UserMapper">
	<select id="login" parameterType="User" resultType="java.lang.String">
		select user_id id from t_user where user_loginname=#{loginName} and user_password=#{password}
	</select>
</mapper>